<div class="paging">
	<% if (page.next) { %><a href="<%- config.root %><%- page.next_link %>"><div class="past">« Past</div></a><% } %>
	<% if (page.prev) { %><a href="<%- config.root %><%- page.prev_link %>"><div class="future">Future »</div></a><% } %>
	<div class="clear"></div>
</div>